<form class="form-horizontal" (ngSubmit)="onSave()" [formGroup]="orderForm">
  <fieldset>
    <div
      class="form-group"
      [ngClass]="{ 'has-error': isShowValidationMessage(firstNameField) }"
    >
      <label class="col-md-2 control-label" for="firstNameId">First Name</label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="firstNameId"
          type="text"
          placeholder="{{ placeholder.firstName }}"
          formControlName="firstName"
        />
        <span
          class="help-block"
          *ngIf="isShowValidationMessage(firstNameField)"
        >
          {{ validationMessagesMap.get(firstNameField)?.message }}
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="lastNameId">Last Name</label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="lastNameId"
          type="text"
          placeholder="{{ placeholder.lastName }}"
          formControlName="lastName"
        />
      </div>
    </div>

    <div
      class="form-group"
      [ngClass]="{ 'has-error': isShowValidationMessage(emailField) }"
    >
      <label class="col-md-2 control-label" for="emailId">Email</label>

      <div class="col-md-8">
        <input
          class="form-control"
          id="emailId"
          type="email"
          placeholder="{{ placeholder.email }}"
          formControlName="email"
          appEmailValidator
        />
        <span class="help-block" *ngIf="isShowValidationMessage(emailField)">
          {{ validationMessagesMap.get(emailField)?.message }}
        </span>
      </div>
    </div>

    <div formArrayName="phones">
      <div
        *ngFor="let phone of phones.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="form-group">
          <label class="col-md-2 control-label" attr.for="{{ 'phoneId' + i }}"
            >Phone {{ phones.controls.length > 1 ? i + 1 : "" }}</label
          >
          <div [ngClass]="phones.controls.length > 1 ? 'col-md-7' : 'col-md-8'">
            <input
              type="text"
              class="form-control"
              id="{{ 'phoneId' + i }}"
              placeholder="{{ placeholder.phone }}"
              formControlName="phone"
            />
          </div>
          <div class="col-md-1 text-right" *ngIf="phones.controls.length > 1">
            <button class="btn btn-danger" (click)="onRemovePhone(i)">X</button>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="button" (click)="onAddPhone()">
        Add Additional Phone
      </button>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-8 checkbox">
        <label>
          <input id="pickupId" type="checkbox" formControlName="pickup" />
          Pick-Up
        </label>
      </div>
    </div>

    <ng-container *ngIf="!pickup.value">
      <div
        class="form-group"
        [ngClass]="{ 'has-error': isShowValidationMessage(addressField) }"
      >
        <label class="col-md-2 control-label" for="addressId">Address</label>

        <div class="col-md-8">
          <input
            class="form-control"
            id="addressId"
            type="textarea"
            placeholder="{{ placeholder.address }}"
            formControlName="address"
          />
          <span
            class="help-block"
            *ngIf="isShowValidationMessage(addressField)"
          >
            {{ validationMessagesMap.get(addressField)?.message }}
          </span>
        </div>
      </div>
    </ng-container>
    <button class="btn btn-primary" type="submit" [disabled]="!orderForm.valid">
      Save
    </button>
    <button class="btn btn-primary" type="button" (click)="onReset()">
      Reset
    </button>
  </fieldset>
</form>
