<div *ngIf="item" class="app-product">
    <div>name: {{ item.name }}</div>
    <div>price: {{ item.price | currency }}</div>
    <div>isAvailable: {{ item.isAvailable }}</div>
    
    <ng-container *ngIf="!isAdminTab">
        <button [disabled]="!item.isAvailable" (click)="onAddToCart(item)">Add to cart</button>
        <button (click)="onDetailsClick()">Details</button>
    </ng-container>
    <ng-container *ngIf="loginService.isAdmin() && isAdminTab">
        <button (click)="onEdit(item.id)">Edit</button>
        <button (click)="onDelete(item.id)">Delete</button>
    </ng-container>
</div>