<ng-container *ngIf="cartProducts">
    <div class="app-cart-list" *ngIf="cartProducts.length; else emptyBlock">
        <app-order-by
            [keys]="cartProductModelKeys"
            [persistenceKey]="'cartListPersistence'"
            (keyChange)="onSortKeyChange($event)"
            (sortOrderChange)="onSortOrderChange($event)">
        </app-order-by>
        <span>Your cart:</span>
        <ul>
            <li *ngFor="let cartProduct of cartProducts | orderByPipe: sortKey : sortOrder; trackBy: trackByItems">
                <app-cart-item
                    appHighlightDirective
                    [item]="cartProduct"
                    (quantityIncrease)="onQuantityIncrease($event)"
                    (quantityDecrease)="onQuantityDecrease($event)"
                    (deleteItem)="onDeleteItem($event)"
                ></app-cart-item>
            </li>
        </ul>
        <div [ngStyle]="{ 'color': 'red' }">Total cost: {{ cartService.totalCost | currency  }}</div>
        <div [ngStyle]="{ 'color': 'green' }">Total quantity: {{ cartService.totalQuantity }}</div>
        <br>
        <button (click)="onDeleteAll()">Delete all</button>
    </div>
    <ng-template #emptyBlock>
        <span>Your cart is empty</span>
    </ng-template>
</ng-container>
<br>
<a  routerLink="/order">Process</a>
