<ng-container *ngIf="cartProducts | async as list">
    <div class="app-cart-list" *ngIf="!cartService.isEmptyCart(); else emptyBlock">
        <span>Your cart:</span>
        <ul>
            <li *ngFor="let cartProduct of list; trackBy: trackByItems">
                <app-cart-item
                    appHighlightDirective
                    [item]="cartProduct"
                    (quantityIncrease)="onQuantityIncrease($event)"
                    (quantityDecrease)="onQuantityDecrease($event)"
                    (deleteItem)="onDeleteItem($event)"
                ></app-cart-item>
            </li>
        </ul>
        <div [ngStyle]="{ 'color': 'red' }">Total cost: {{ cartService.totalCost }}</div>
        <div [ngStyle]="{ 'color': 'green' }">Total quantity: {{ cartService.totalQuantity }}</div>
    </div>
    <ng-template #emptyBlock>
        <span>Your cart is empty</span>
    </ng-template>
</ng-container>
