<p *ngIf="(error$ | async) as value">{{value}}</p>
<router-outlet></router-outlet>
<ng-container *ngIf="isAdminTab$ | async">
    <button (click)="onAdd()">Add</button>
</ng-container>
<app-order-by
    [keys]="productModelKeys"
    [persistenceKey]="'productListPersistence'"
    (keyChange)="onSortKeyChange($event)"
    (sortOrderChange)="onSortOrderChange($event)">
</app-order-by>
<app-product 
    *ngFor="let product of  (products$ | async) | orderByPipe: sortKey : sortOrder" 
    [item]="product"
    [isAdminTab]="isAdminTab$ | async"
    (addProductToCart)="onAddToCart($event)"
    (detailsClick)="onDetailsClick($event)"
    (editClick)="onEditClick($event)"
    (deleteClick)="onDeleteClick($event)">
</app-product>
