<router-outlet></router-outlet>
<ng-container *ngIf="loginService.isAdmin()">
    <button (click)="onAdd()">Add</button>
</ng-container>
<app-order-by
    [keys]="productModelKeys"
    [persistenceKey]="'productListPersistence'"
    (keyChange)="onSortKeyChange($event)"
    (sortOrderChange)="onSortOrderChange($event)">
</app-order-by>
<app-product 
    *ngFor="let product of products | async | orderByPipe: sortKey : sortOrder" 
    [item]="product"
    [isAdminTab]="isAdminTab"
    (addProductToCart)="onAddToCart($event)"
    (detailsClick)="onDetailsClick($event)"
    (editClick)="onEditClick($event)"
    (reload)="onReload()">
</app-product>
